.help-block {
    color: red;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 77vh;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.friend-request {
    padding: 5px;
    margin-bottom: 10px;
    background-color: lavender;
}

#friendRequestsModal {
    color: #212529;
}

.username {
    color: #888;
}

.friend-request-action-btn {
    border-radius: 10px;
    background-color: lightblue;
}
